@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins'; /* Imported font */
}
html,body{
    min-height: 100vh;
    background: var(--primary-bg);
}

/* --- Variables --- */
:root{
    --primary-bg: #FFFDF6;
    --button-color: #3D8D7A;
    --navbar-bg: #F1EFEC;
    --primary-text-color: #333; 
}

/* --- Navbar Styling --- */
.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;
    background: var(--navbar-bg);
    color: var(--primary-text-color);
    animation: transform 0.5s ease;
}
.navbar h3{
    font-family: 'Questrial';
    letter-spacing: 0.5px;
}
@keyframes transform {
    from{
        opacity: 0;
        transform: translateY(-5px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
    
}
.navbar button {
    background: var(--button-color);
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 7px 14px;
    transition: padding 0.3s ease;
    cursor: pointer;
}
.navbar .viewBtn{
    background: #205781;
}
.navbar button:hover {
    padding: 7px 28px;
}

/* --- hero page styling --- */
.main{
    position: relative;
    height: calc(100vh - 70px);
    display: grid;
    place-content: center;
}

/* ---EmptySlate --- */
.emptySlate{
    height: 300px;
    width: 400px;
    animation: transform 0.7s ease;
}
.emptySlate .image-prt{
    height: 80%;
    margin-bottom: 15px;
}
.image-prt img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20%;
}
.desc-prt{
    text-align: center;
    opacity: 0.7;
    color: var(--primary-text-color );
}
.addTripModal.show{
    opacity: 1;
    pointer-events: all;
    scale: 1;
    transform: translate(-50%, -50%);
}
.addTripModal{
    pointer-events: none;
    opacity: 0;
    scale: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    transform: translate(-55%, -55%);
    border-radius: 5px;
    padding: 20px;
    background-color: var(--navbar-bg);
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;
}
.addTripModal h2{
    font-size: 20px;
    font-family: 'Questrial';
    margin-bottom: 20px;
}
.modal-input{
    display: flex;
    align-items: center;
    position: relative;
}
.modal-input input{
    background: none;
    padding: 5px 14px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #333;
    outline: none;
    z-index: 999;
    flex: 1;
}
.modal-input label{
    position: absolute;
    left: 8px;
    top: 6px;
    background: var(--navbar-bg);
    font-size: 15px;
    transition: all 0.2s ease;
    z-index: 1000;
    pointer-events: none;
}
.modal-input input:focus + label,
.modal-input input:valid + label{
    top: -14px;
    left: 6px;
    font-size: 14px;
    padding: 2px;
}
.modal-btn{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.modal-btn button{
    width: 100%;
    border: none;
    outline: none;
    padding: 6px;
    font-size: 15px;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
}
.modal-btn .cancel-btn{
    background: rgb(184, 4, 4);
}